<div class="footer">
  <div class="f-info">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="webname">&copy;WonderLust Privet Limited</div>
  <div class="f-links">
    <a href="/privecys">Privecy</a>
    <a href="/terms">terms</a>
  </div>
</div>
