<!-- views/partials/loader.ejs -->
<div id="loader" style="">
  <h1 id="loader-text">
    <i class="fa-solid fa-house loaderIcon"></i>
    <p class="l-welmsg">Welcome to StayFinder</p>

    <p class="l-msg">Find your place, with peace and grace.</p>
  </h1>
</div>

<style>
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  #loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-wrap: wrap;
    background-color: #c00c1e;
  }
  #loader-text {
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: bold;
    animation: pulse 1.7s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }
  .loaderIcon {
    font-size: 3em;
    align-self: flex-start;
  }
  .l-welmsg {
    margin: 0 !important;
  }
  .l-msg {
    font-size: 0.5em;
    text-align: center;
    color: yellow;
    line-height: 1;
    font-style: italic;
    align-self: flex-end;
    padding: 0px;
  }
</style>
